@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>
        <button onclick="clickBtn()">
            Logout
        </button>
    </p>
</div>

<script>
    function clickBtn() {
        localStorage.clear('token');
        window.location.href = '/Account/Login';
    }
</script>

